/* Bu dosya hava.* sub-domaini sitilleri için
 * oluşturuldu */

.iconic-font-big-navigate {

    font-size: 29px;
    margin-right: 5px;
    position: absolute;
    left: 8px;
    top: 7px;	
}

.left-space-30 {

	padding-left: 31px !important;
}
