/* Bu dosya hava.* sub-domaini sitilleri için
 * oluşturuldu */

@import 'home';

.iconic-font-big-navigate {

    font-size: 29px;
    margin-right: 5px;
    position: absolute;
    left: 8px;
    top: 7px;	
}

.iconic-font-15 {

    font-size: 15px;
}

.left-space-30 {

	padding-left: 31px !important;
}

.group-termal {	

	margin-bottom: 0px;

	width: 72px;
}

.list-group-termal {

	padding: 0px 11px;
}

.font-size-12px {

	font-size: 12px;
}    

      
